.FoodContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.FlexContainer {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*For foodcategories*/
.FoodBox{
  width: 200px;
  padding: 20px;
}

.FoodBox h2, ul {
  text-align: left;
}

.FoodBox h2 {
  min-height: 70px;
  font-size: 1.2em;
}

.FoodBox img {
  width: 150px;
  margin: 0 auto;
}

.FoodBox ul {
  list-style: none;
  padding: 0;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

.FoodBox a {
  text-decoration: underline;
}

.FoodBox ul li {
  margin: 10px 0px;
}

/*for inputValue.js*/
.user-values{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /*width: 50%;*/
}
/*Simulation purposes*/
.user-information{
  display: none;
}
.col-6{
  display: none;
}
.row{
  text-align: center;
  width: 100%;
}

.status .bold{
  width: 100%;
  text-align: center;
}

.Values input{
  width: 100%;
  height: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.user-information {
  /*flex: 1;*/
  padding: 0 25px;
  margin: 0 25px;
}

.user-information h2 {
  margin-bottom: 0;
}

.user-information small {
  font-size: 1em;
}

.formName{
  margin-top: 20px;
  margin-bottom: 0px;
}
/*Button next*/
.Next{
  /*float: right;*/
  /*margin: 20px;*/
  background-color: #7addce;
  border-radius: 5px;
  border: 1px solid black;
}

.Next:hover {
  cursor: pointer;
}

dt, .bold {
  font-weight: bold;
}

.fa {
  font-size: 2em;
}

.green {
  color: #50AF47;
}

.red {
  color: #F64341;
}

.status-bar {
  display: inline-block;
  width: 100%;
  transition: all ease-in-out 500ms;
}

.status-bar h3 {
  text-align: center;
  font-weight: 100;
}

.status-bar:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.status-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.status-bar ul li {
  display: inline-block;
  margin-right: 25px;
  font-size: 1.5em;
}
.Emoticon{
  width: 150px;
}

.emoji-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.modalButton {
  display: block;
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.content {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.content > * {
  font-size: 1.5em;
}

.alert {
  -webkit-animation: blink 1s ease-in-out infinite alternate;
          animation: blink 1s ease-in-out infinite alternate;
}

.relax {
  animation: relax 3s ease-in-out infinite alternate;
}

.greetMessage{
  text-align: center;
  padding-bottom: 10px;
}

.food-table {
  table-layout: fixed;
}

.food-table td, th {
  padding: 0px 25px;
}

@keyframes blink {
  0% {
    background: #F64341;
  }

  100% {
    background: #0F5EE7;
  }
}

@keyframes relax {
  0% {
    background: #81E0E8;
  }

  50% {
    background: #7FED8D;
  }

  100% {
    background: #DDED64
  }
}
