.App-logo {
  height: 100px;
}

.Header-content {
  text-align: center;
  height: 100%;
  padding: 20px;
  color: black;
  background-color: #7addce;
  position: relative;
}

.Header-content select, .Header-content form{
  right: 54px;
  font-size: 0.6em;
}

.Header-content select {
	top: 70px;
	width: 150px;
	height: 30px;
}

.Header-content form {
  position: absolute;
  text-align: center;
  top: 105px;
  width: 120px;
  height: 10px;
}

.Simulation{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 220px;
  height: 200px;
  border: solid #fff;

}


a {
	color: black;
	text-decoration: none;
}
